body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

#toolbar {
  display: flex;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

#toolbar label {
  margin-right: 0.5rem;
}

.toolbar-item {
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

#size {
  margin-right: 0.5rem;
}

#canvas {
  border: 1px dashed black;
  cursor: crosshair;
  flex-grow: 1;
}
