body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

#toolbar {
  align-items: center;
  display: flex;
  padding: 10px 0;
  margin-bottom: 1rem;
}

#toolbar label {
  margin-right: 5px;
}

#toolbar input {
  margin-right: 20px;
}

#canvas {
  border: 1px dashed black;
  cursor: crosshair;
  flex-grow: 1;
}
